.break-line {
  @apply border-b-2 border-zinc-300 my-0 cursor-row-resize relative grid;
}

.resize-dot {
  @apply w-8 h-4 bg-zinc-300 rounded-full cursor-row-resize z-20 absolute justify-self-center -translate-y-2;
}

.resize-dot:hover,
.break-line:hover,
.resize-dot:focus,
.break-line:focus,
.break-line:focus .resize-dot,
.break-line:hover .resize-dot {
  @apply bg-zinc-500 border-zinc-500;
}

.resize-dot::before,
.resize-dot::after {
  content: '';
  @apply absolute left-1/2 transform -translate-x-1/2 w-4 h-0.5 bg-zinc-800;
}

.resize-dot::before {
  top: 25%;
}

.resize-dot::after {
  top: 75%;
}

.resize-dot::after {
  content: '';
  @apply absolute left-1/2 transform -translate-x-1/2 w-4 h-0.5 bg-zinc-800;
  top: 50%;
}
